body{margin:0;padding:0;overflow-x:hidden;}
html, body{height:100%;}
img{border:none;}
*{font-family:'微软雅黑';font-size:12px;color:#626262;}
dl,dt,dd{display:block;margin:0;}
a{text-decoration:none;}

#bg{background-image:url(../images/dotted.png);}
.main_container{width:100%;height:100%;margin:auto;}

/*left*/
.leftsidebar_box{width:10%;overflow:visible !important;position:fixed;height:100% !important;background-color:#3992d0;}
.leftsidebar_box dt{padding-left:40px;padding-right:10px;background-repeat:no-repeat;background-position:10px center;color:#f5f5f5;font-size:14px;position:relative;line-height:48px;cursor:pointer;}
.leftsidebar_box dd{background-color:#317eb4;padding-left:40px;}
.leftsidebar_box dd a{color:#f5f5f5;line-height:20px;}
.leftsidebar_box dt img{position:absolute;right:10px;top:20px;}
.leftsidebar_box dl dd:last-child{padding-bottom:10px;}

/* header */
.ds_header{position: absolute; left: 10%; width: 100%; height: 10%;background-color: #d3d3d3}
.ds_header .logo{line-height: 60px; position: absolute; left: 30%}
.ds_header .logo a strong {font-size: 30px}
.ds_header .user_login {position: absolute; left: 70%; width: 200px; top: 20px}
.ds_header .user_login .user_name{position: absolute; font-size: 15px; color: black;}
.ds_header .user_login .login{position: absolute; left: 120px;}
.ds_header .user_login .login a{font-size: 15px;}

/* main body */
.main_body{position: absolute; left: 10%; top: 10%; width: 90%; height: 90%}

.search_con{width:616px;height:38px;border:1px solid #37ab40;margin: 3% 0 0 20%;background-color: #fff;}
.search_con form{ display: inline-flex; width: 100%}
.search_con form span{position: relative; width: 10%}
.search_con .input_text{width:75%;height:37px;border:0;margin:0;outline:none;font-size:12px;color:#737272;font-family:'Microsoft Yahei';}
.search_con .icon{position: relative; left: 10px; font-size: 25px; top: 5px;background-color: #fff}
.search_con .input_btn{width:15%;height:38px;background-color:#37ab40;border:0;font-size:14px;color:#fff;font-family:'Microsoft Yahei';outline:none;cursor:pointer; margin: 0;padding: 0;}


/* raw data */
.raw_data_content {position: relative; left: 3%; width: 94%; top: 2%}
.raw_data_content table {position: relative; top: 30px; width: 100%;  font-size: .938em;  border-collapse: collapse;/*边框会合并为一个单一的边框*/}
.raw_data_content thead {  text-align: center;  padding: .5em .5em; font-weight: bold; background: #ededed;}
.raw_data_content td {  padding: .5em .5em; height: 10px;  text-align: center; color: #010101; font-size: 15px}
.raw_data_content td a{text-decoration: none; color: #4e4e4e}

/* brms */
.brms {width: 100%; height: 100%}

.brms .look_for_condition {position: relative; width: 100%; height: 20%;}
.brms .look_for_condition form {display: flex; flex-direction: row; width: 65%; flex-wrap: wrap; height: 100%; left: 5%; position: relative}
.brms .look_for_condition input {line-height: 25px;}
.brms .look_for_condition label {font-size: 15px;}
.brms .look_for_condition form .common_condition{width: 25%; position: relative; top: 10%; height: 22%;}
.brms .look_for_condition form .date_condition{width: 50%; position: relative; top: 10%; height: 22%}

.brms .result_title {height: 5%; width: 100%}
.brms .result_title a {font-size: 20px;}
.brms .result_title button {font-size: 15px; border-radius: 30%; border: 1px solid #27ff27; background-color: #27ff27}
.brms .result_title .a1 {position: relative; left: 5%;}
.brms .result_title .a2 {position: relative; left: 10%;}
.brms .result_title .button2 {position: relative; left: 75%; width: 7%}
.brms .result_title .button1 {position: relative; left: 77%; width: 5%}

.brms .result_detail {height: 70%; width: 100%; overflow: scroll}
.brms table {position: relative; left:2%; width: 100%;  font-size: .938em;  border-collapse: collapse;/*边框会合并为一个单一的边框*/}
.brms thead {  text-align: center;  padding: .5em .5em; font-weight: bold; background: #ededed;}
.brms td {  padding: .5em .5em; height: 10px;  text-align: center; color: #010101; font-size: 15px}
.brms td a{text-decoration: none; color: #4e4e4e}

.brms .pagination {position: relative; height: 5%; width: 100%;}
.brms .pagination .a1 {left: 40%; position: relative}
.brms .pagination .a2 {left: 45%; position: relative}
.brms .pagination .p1 {left: 43%; position: relative}


/* brms util */
.brms_util {display: flex; flex-direction: column; width: 100%; height: 100%;}
.brms_util div {height: 20%; position: relative; left: 30%; top: 20%}
