{% extends 'base.html' %}
{% load static from staticfiles %}
{% block body %}
    <div class="search_con">
        <form action="{% url 'row_keys' %}" method="post" style="padding: 0px; margin: 0px; border: 0px">
            {% csrf_token %}
            <i class="iconfont icon-sousuo icon"></i>
            <input type="text" name="apply_no" placeholder="请输入进件号" value="{{ apply_no }}" class="input_text">
            <input type="submit" value="查询" class="input_btn">
        </form>
    </div>
    {% if row_keys_empty %}
        <div class="row_keys_empty">未找到数据!</div>
    {% endif %}
    <div class="raw_data_content">
        <table>
            <thead>
                <tr>
                    <td>apply_no</td>
                    <td>row_key</td>
                    <td>policy_id</td>
                    <td>table</td>
                </tr>
            </thead>
            <tbody>
                {% for row in row_keys %}
                    <tr>
                        <td>{{ row.apply_no }}</td>
                        <td><a href="{% url 'raw_data_detail' row_key=row.row_key %}">{{ row.row_key }}</a></td>
                        <td>{{ row.policy_id }}</td>
                        <td>{{ row.table }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}